.ConnectionList {
  padding: 16px;
}

.heading {
  text-transform: uppercase;
}

.connection {
  color: #C4C4C4;
  display: block;

  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;

  border-bottom: solid 1px #646464;
}

.connection:hover {
  color: white;
}
