.FilterList {
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}

.items {
  height: calc(100vh - 42px);
  overflow-y: auto;
}

.search {
  width: 100%;
  height: 40px;
}
